<html> 
    <head> 
        <link href="https://fonts.googleapis.com/css2?family=Ruda&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="whywe"> 

            <div class="first"> 

                <div class="first1"> 
                    <h3 class="f1"> Почему мы? </h3>
                    <img class="img1" src = "/assets/images/Vector 12.svg"> 
                </div>

                <div class="first2"> 
                    <h2> <em>20</em> мин </h2>
                    <img src="/assets/images/Vector 10.svg"> 
                    <p> Профориентационный тест займет 
                        20 минут вашего времени в онлайн формате, 
                        в любом удобном месте. </p>
                </div>

            </div>

            <div class="second"> 

                <div class="second1"> 
                    <h2> <em> 7</em>+ </h2>
                    <img src="/assets/images/Vector 10.svg"> 
                    <p> Сертифицированных экспертов готовы 
                        провести с вами консультации 
                    </p>
                </div>

                <div class="second2">
                    <h2> <em> 100</em>+  </h2> 
                    <img src="/assets/images/Vector 10.svg"> 
                    <p> 
                        Школьников дали обратную 
                        связь для создания максимально-полезного продукта. 
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>
