<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main> 
    <!-- main components -->
    <app-header> </app-header>
    <div class="main_content"> 
        <app-begin> </app-begin>
        <app-roadmap> </app-roadmap>
        <app-universities> </app-universities>
        <app-specials> </app-specials>
        <app-whywe> </app-whywe>
    </div> 
    <app-footer> </app-footer>
</main>
<router-outlet></router-outlet> 