<div class="main2">
  <div class="uni_head">
    <div class="photo">
      <div class="bg"></div>
      <img class="main_img" [src]="university.photo" >
    </div>
    <div class="uni_name">
      <p>{{university.name}}</p>
      <hr>

    </div>
    <div class="main_info">
      <div class="card">
        <img src="assets/images/polygon.png">
        <p>{{university.specialties.length}} специальностей</p>
      </div>
      <div class="card">
        <img src="assets/images/polygon.png">
        <p>{{ university.cost }} тенге в год</p>
      </div>
      <div class="card">
        <img src="assets/images/polygon.png">
        <p>{{ university.specialties.length }} факультетов</p>
      </div>
    </div>
    <div class="description">
      <p>Список специальностей</p>
      <p *ngFor="let spec of university.specialties"  >{{spec.name}}</p>
      <p>{{university.grantScore}}</p>
      <p>{{university.paidScore}}</p>
      <p>{{university.phoneNumber}}</p>


    </div>



  </div>
</div>
