<div class="main2">
  <div class="uni_head">
    <div class="photo">
      <div class="bg"></div>
      <img class="main_img" src="/assets/images/KBTU-building.jpg">
    </div>
    <div class="uni_name">
      <p>{{university}}</p>
      <hr>
      <h3>
        Действительно высшее международное образование
      </h3>
    </div>
    <div class="main_info">
      <div class="card">
        <img src="assets/images/polygon.png">
        <p>30 специальностей</p>
      </div>
      <div class="card">
        <img src="assets/images/polygon.png">
        <p>30 специальностей</p>
      </div>
      <div class="card">
        <img src="assets/images/polygon.png">
        <p>30 специальностей</p>
      </div>
    </div>



  </div>
</div>
