<div>
  <hr>
  <section class="filter_bar">
    <form class="search_tab">
      <input type="text" class="search_input" placeholder="Filter..." #filter >
      <img class="search_icon" src="/assets/images/search_icon.png" (click)="filterResults(filter.value)">
    </form>
    <div class="dropdown" >
      <button class="dropdown-btn" >Специальность</button>
      <div class="dropdown-content"  >
        <button (click)="returnAll()">All</button>
        <button *ngFor="let specialty of constSpecList"
                (click)="filterListBySpecialty(specialty.name)">{{specialty.name}}</button>

        <!-- Add more options as needed -->
      </div>

    </div>
    <div class="dropdown" >
      <button class="dropdown-btn" >Университет</button>
      <div class="dropdown-content"  >
        <button (click)="returnAll()">All</button>
        <button *ngFor="let uni of universities"
                (click)="filterListByUniversity(uni.name)">{{uni.name}}</button>

        <!-- Add more options as needed -->
      </div>

    </div>
    <div class="dropdown" >
      <button class="dropdown-btn" >Предметы</button>
      <div class="dropdown-content"  >
        <button (click)="returnAll()">All</button>
        <button *ngFor="let disc of disciplines"
                (click)="filterListByDiscipline(disc)">{{disc.name}}</button>

        <!-- Add more options as needed -->
      </div>

    </div>
    <div class="dropdown" >
      <button class="dropdown-btn" >Сортировать</button>
      <div class="dropdown-content"  >
        <button (click)="returnAll()">All</button>
        <button *ngFor="let item of sortByList"
                (click)="sortBy(item)">{{item}}</button>

        <!-- Add more options as needed -->
      </div>

    </div>

  </section>

  <section class="result_container">
    <app-specialty-item *ngFor="let specialty of specialtyList"
                        [specialty]="specialty"></app-specialty-item>
  </section>

</div>
<app-footer></app-footer>
