<div class="spec_container">
  <div class="spec_item">
    <!--надо добавить ngFor-->
    <img class="spec_img" src="assets/images/IT.png">
    <div class="text">
      <div class="text1">
        <div class="name_subjects">
          <p class="p1">Информационные технологии</p>
          <div class="subjects">
            <p class="p4">🕮 информатика / математика</p>
          </div>
        </div>
        <div class="unt_points">
          <p class="p2">от 96 проходной балл/общий<br>от 63 проходной балл/квота</p>
        </div>
      </div>
      <div class="text2">
        <div class="fields">
          <p class="p2">
            246<br>
            72<br>
            10103<br>
            высокий
          </p>
        </div>
        <div class="fields">
          <p class="p3">
            программ обучения<br>
            ВУЗа в Казахстане<br>
            грантов в 2023 году<br>
            спрос
          </p>
        </div>

      </div>
      <div class="accordion">
        <button class="accordion-btn">Описание специальности 🛈</button>
        <div class="accordion-content">
          <p>"Информационно-коммуникационные технологии" фокусируется
            на изучении разработки, применения и управления информационными
            системами и технологиями. Обучение включает в себя изучение программирования,
            сетевых технологий, баз данных, веб-разработки, кибербезопасности и других
            аспектов информационной технологии. Выпускники этой специальности могут
            работать в различных сферах, таких как разработка программного обеспечения,
            администрирование сетей, информационная безопасность, интернет-маркетинг,
            аналитика данных и др.</p>
        </div>

      </div>

    </div>
  </div>

  <!--не забыть удалить -->
  <div class="uni_item">
    <!--надо добавить ngFor-->
    <img class="uni_img" src="assets/images/IT.png">
    <div class="text">
      <div class="text1">
        <div class="name_location">
          <p class="p1">Информационные технологии</p>
          <div class="location">
            <p class="p4">🕮 информатика / математика</p>
          </div>
        </div>
        <div class="unt_points">
          <p class="p2">от 96 проходной балл/общий<br>от 63 проходной балл/квота</p>
        </div>
      </div>
      <div class="text2">
        <div class="fields">
          <p class="p2">
            246<br>
            72<br>
            10103<br>
            высокий
          </p>
        </div>
        <div class="fields">
          <p class="p3">
            программ обучения<br>
            ВУЗа в Казахстане<br>
            грантов в 2023 году<br>
            спрос
          </p>
        </div>

      </div>
      <div class="accordion">
        <button class="accordion-btn">Описание специальности 🛈</button>
        <div class="accordion-content">
          <p>"Информационно-коммуникационные технологии" фокусируется
            на изучении разработки, применения и управления информационными
            системами и технологиями. Обучение включает в себя изучение программирования,
            сетевых технологий, баз данных, веб-разработки, кибербезопасности и других
            аспектов информационной технологии. Выпускники этой специальности могут
            работать в различных сферах, таких как разработка программного обеспечения,
            администрирование сетей, информационная безопасность, интернет-маркетинг,
            аналитика данных и др.</p>
        </div>

      </div>

    </div>
  </div>
</div>


