<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pavanam&display=swap" rel="stylesheet">
    </head>

    <body>
        <h2> Путь к успешному будущему </h2>

            <div class="numbered">

                <div class="bl">
                <div class="number">1</div>
                </div>

                <div class="bl">
                    <div class="number">2</div>
                </div>

                <div class="bl">
                    <div class="number">3</div>
                </div>

                <div class="bl">
                    <div class="number">4</div>
                </div>

            </div>

            <img class="img_b" src = "/assets/images/Steps%20Line.svg">

        <div class="options">
            <div class="first-info">
                <div class= "f_img">
                    <img  src = "/assets/images/Group%201000002841.svg">
                </div>
                <div class="f_p">
                    <p> Определите свой  <br>
                    профессиональный путь <br>
                    пройдя надежные тесты и <br>
                    интерактивные карточки!
                    </p>
                </div>
                <div class="f_button">
                    <button [routerLink]="['/home/test-page']">Пройти тест</button>
                </div>
            </div>
            <div class="first-info">
                <div class= "f_img">
                    <img  src = "/assets/images/Woman%20seeking%20help.svg" >
                </div>
                <div class="f_p">
                    <p> Пройдите консультацию у <br>
                        профессионала своего дела.
                    </p>
                </div>
                <div class="f_button">
                    <button [routerLink]="['/home/consultation']"> Консультация </button>
                </div>
            </div>
            <div class="first-info">
                <div class= "f_img">
                    <img  src = "/assets/images/Lawyer.svg">
                </div>
                <div class="f_p">
                    <p> Откройте для себя <br>
                        перспективные <br>
                        направления обучения в <br>
                        Казахстане.
                    </p>
                </div>
                <div class="f_button">
                    <button [routerLink]="['/home/specialties']"> Специальности </button>
                </div>
            </div>
            <div class="first-info">
                <div class= "f_img">
                    <img  src = "/assets/images/Mortarboard.svg">
                </div>
                <div class="f_p">
                    <p> Выберите университет, <br>
                        который соответствует <br>
                        вашим целям.
                    </p>
                </div>
                <div class="f_button">
                    <button [routerLink]="['/home/universities']"> Университеты </button>
                </div>
            </div>
        </div>
        <!--- have to add onclick events to buttons -->
    </body>
</html>
