.number {
    display: inline-block;
    background-color:#FFFFFF;
    font-family: 'Pavanam', sans-serif;
    font-size: 38px;
    width: 60px;
    height: 60px;
    border-radius: 15px; 
    line-height: 65px;
    text-align: center;
    margin-right: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.bl {
    width: 288px;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 30px;
}

.numbered {
    white-space: nowrap; 
    margin-left: 3.5%;
    margin-bottom: 0px;
    height: 60px; 
}


.options {
    white-space: nowrap; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}


.first-info {
    display: inline-block; 
    background-color: #FFFFFF;
    height: 365px; 
    width: 288px;
    border-radius: 15px; 
    border-color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    margin-right: 50px;
    vertical-align: top;
}

.f_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px; 
    margin-top: 30px; 
}


.f_p {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
    vertical-align: top;
    height: 100px;
}

p {
    font-family: 'Libre Franklin', sans-serif; 
    font-size: 16px;
    text-align: center; 
    align-items: center;
}

.f_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    vertical-align: top;
}

button {
    font-family: 'Libre Franklin', sans-serif; 
    font-size: 18px;
    height: 40px;
    width: 190px; 
    border-radius: 10px; 
    background-color: #411f51;
    color: #FFFFFF; 
    text-align: center;
    border: 0; 
    font-weight: 200;
    box-shadow: 2px 2px 3px black;
}

h2 {
    font-size: 40px;
    font-family: 'Libre Franklin', sans-serif; 
    margin-bottom: 50px;
}

body {
    text-align: center;
    height: 650px; 
    margin-bottom: 0;
}

.img_b {
    margin-top: 10px;
    margin-bottom: 10px;
}