


<div class="main">
  <header>
    <h1>Откройте дверь в будущее, где ваши таланты расцветут<hr></h1>
  </header>

  <div class="card-container">
    <div class="card" (click)="navigateToTest(1)">
      <img class="icon" src="../../assets/images/polygon.png" alt="Test 1">
      <div class="number">1</div>
      <p>Тест на профориентацию по методике Е.А. Климова</p>
      <p class="complete" *ngIf="isTestCompleted('test1')">Завершен</p>
      <p class="not-complete" *ngIf="!isTestCompleted('test1')">Не завершен</p>
    </div>
    <div class="card" (click)="navigateToTest(2)">
      <img src="../../assets/images/polygon.png" alt="Test 2">
      <div class="number">2</div>
      <p>Определение профессиональных склонностей л. Йовайши</p>
      <p class="complete" *ngIf="isTestCompleted('test2')">Завершен</p>
      <p class="not-complete" *ngIf="!isTestCompleted('test2')">Не завершен</p>
    </div>
    <div class="card" (click)="navigateToTest(3)">
      <img src="../../assets/images/polygon.png" alt="Test 3">
      <div class="number">3</div>
      <p>Карточки профессии</p>
      <p class="complete" *ngIf="isTestCompleted('test3')">Завершен</p>
      <p class="not-complete" *ngIf="!isTestCompleted('test3')">Не завершен</p>
    </div>
  </div>


  <div *ngIf="!checkComplition()" class="progress">
    <p>Завершите все 3 теста</p>
    <div class="progress-bar">
      <div class="progress-completed" [style.width.%]="calculateProgress()"></div>
    </div>
  </div>

  <div *ngIf="checkComplition()" class="show-results">
    <button [routerLink]="['/home/tests/test-results']">Посмотреть результаты</button>
  </div>

</div>
<app-footer></app-footer>
