/* styles.css */


.icon{
  transform: rotate(180deg);
}
header {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
header h1{
  margin-top: 100px;
  font-style: italic;
  color: #F3F3F3;
}
.card-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card {
  background-color: #7777c4;
  color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 280px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover {
  /*background-color: #f0f0f0;*/
  border-color: rebeccapurple;
  background-color: whitesmoke;
  color: black;
  opacity: 0.5;
}

.card img {
  margin-bottom: 10px;
}
.number{
  margin-top: 20px;
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  font-size: 20px;

}
.card p {
  margin-top: -300px;
  text-align: center;
  font-size: 20px;
}

.complete, .not-complete {
  margin-top: auto;
}

.complete {
  color: lawngreen;
  border: solid 2px lawngreen;
  border-radius: 10px;
  padding: 5px;
}

.not-complete {
  color: orangered;
  border: solid 2px orangered;
  border-radius: 10px;
  padding: 5px;
}


.progress {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.progress-bar {
  align-self: center;
  width: 60%;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-completed {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}
.show-results{
  text-align: center;

}
.show-results button{
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  width: 150px;
  height: fit-content;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.show-results button:hover{

  width: 200px;
  font-size: 20px;
}
