<footer> 
    <div class="brand-info"> 
    <div class="about-us"> 
    <img class="footer-logo" src = "/assets/images/Logo-3.svg" alt = "logo"> 
    <p class="footer_ab_us">О нас: <br> Uade.Me - обещание себе открыть дверь в мир возможностей. Группа молодых <br> людей желающих помочь школьникам найти себя и свое призвание. </p>
    </div> 
    <nav class="socials"> 
      <p class="footer_socials"> СОЦИАЛЬНЫЕ СЕТИ </p> 
      <a class = "socials_a" href = "https://www.instagram.com/sparklab.indrive/"  class="tab-footer"> Spark Lab on Instagram </a> <br> 
      <a class = "socials_a" href = "https://www.instagram.com/sparklab.indrive/"  class="tab-footer"> UadeMe on Instagram </a> 
    </nav>
    </div> 
    <p class="copy"> Copyright © 2024 Uade.me All rights reserved. </p> 
  </footer>
