

<head> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap">
</head>
<footer> 
    <div class="brand-info"> 

        <div class="about-us"> 
            <img class="footer-logo" src = "/assets/images/Logo-3.svg" alt = "logo"> 
            <p class="footer_ab_us"> <br> Uade.Me - обещание себе  
              открыть дверь<br> в мир возможностей. 
              Мы группа молодых людей желающих <br> помочь школьникам найти себя и свое призвание. </p>
        </div> 

        <nav class="socials"> 
          <p class="footer_socials"> СОЦИАЛЬНЫЕ СЕТИ </p> 
          <a class = "socials_a" href = "https://www.instagram.com/sparklab.indrive/"  class="tab-footer"> Spark Lab Instagram </a> <br> 
          <a class = "socials_a" href = "https://www.instagram.com/uade_me?igsh=MXQ2bXdxZG11eGdqdg=="  class="tab-footer"> UadeMe Instagram </a> 
        </nav>

    </div>

    <p class="copy"> Copyright © 2024 Uade.me All rights reserved. </p> 
</footer>

