<div class="main_bg">
  <div class="second_bg">
    <div  class="slogan_photo">
      <div class="text_holder">
        <div class="text1">
          <h1 class="main_slogan">Откройте ваше призвание</h1>
          <h3 class="main_under">Пройдите профориентационный тест, предложенный профессионалами своего дела</h3>
          <hr>
        </div>
        <div class="time_limits">
          <div class="test_info" id="test_info_2">
            <h2>30 мин</h2>
            <h3>Продолжительность</h3>
          </div>
          <div class="test_info" >
            <h2>3 метода</h2>
            <h3>Профориентации</h3>
          </div>
        </div>
      </div>
      <div class="img_holder">
        <img class="photo_1" src="/assets/images/test_landing_image_1.png">
      </div>
    </div>
    <div class="container">
      <div class="rect">
        <img  class="logo" src=" /assets/images/logo_test_1.svg"><br>
        Найдите спокойное место и начните тест</div>
      <div class="rect">Не бойтесь быть собой и будьте честны</div>
      <div class="rect">Получите свои персональные результаты</div>
    </div>

  </div>


</div>
<app-footer></app-footer>
