<html> 
    <head> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body> 
        <h2> Специальности Казахстана </h2>
        <div class = "specials">
            <div class = "special"> 
                <div class="info"> 
                    <h3 class="name"> Информационные системы </h3>
                </div>
                <div class="info2">
                    <p> 27 вузов </p> 
                    <p >  ЕНТ - Биология, География </p>
                </div>
                <div class="button"> 
                    <button> Просчет шансов </button>
                </div>
            </div>

        </div> 
    </body>
</html>
