<html> 
    <head> 
        <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body> 
        <h2> Университеты Казахстана </h2>
        <div class = "unis">
            <div class = "uni"> 
                <div class="img"> 
                    <img src = "/assets/images/Mask group.svg"> 
                    <p> от 2млн/год </p>
                </div>
                <div class="name"> 
                    <p> Казахстанско-Британский 
                        Технический Университет <p> 
                </div> 
            </div>

            <div class = "uni"> 
                <div class="img"> 
                    <img src = "/assets/images/Mask group(1).svg"> 
                    <p> от 2млн/год </p>
                </div>
                <div class="name"> 
                    <p> Almaty Management University <p> 
                </div> 
            </div>

            <div class = "uni"> 
                <div class="img"> 
                    <img src = "/assets/images/Mask group(2).svg"> 
                    <p> от 2млн/год </p>
                </div>
                <div class="name"> 
                    <p> NARXOZ University <p> 
                </div> 
            </div>

            <div class = "button"> 
                <button> Показать все университеты Казахстана</button> 
                <!-- refer to the page of universities -->
            </div>

        </div> 
    </body>
</html>
