<div class="main2">
  <div  class="start">
    <div class="text">
      <div class="text_cont">
        <h1>Найдите своё<br> призвание с<br> помощью эксперта</h1>
      </div>
      <div class="img_cont">
        <img src="assets/images/vector_round.png">
      </div>

        <p id="scroll">Не знаете, кем хотите стать?
          Мы поможем вам разобраться в своих интересах,
          способностях и ценностях, чтобы выбрать перспективную карьеру.</p>

    </div>
    <div class="photo">
      <img src="assets/images/consult.png">
    </div>

  </div>
  <div class="instruction">
    <div class="text_cont">
      <h1>Как это работает?</h1>
    </div>

    <div class="dots">
      <img src="assets/images/dots.png">
    </div>

    <div class="cards">
      <div class="card_tab">
        <div class="card">
          <img class="logo1" src="assets/images/consult1.png">
          <h2>найдите эксперта</h2>
          <p>найдите профориентолога по своим запросам</p>
        </div>
      </div>
      <div class="card_tab">
        <div class="card">
          <img class="logo1" src="assets/images/consult2.png">
          <h2>познайте себя</h2>
          <p>пройдите необходимые методы для большего понимания себя</p>
        </div>
      </div>
      <div class="card_tab">
        <div class="card">
          <img class="logo1" src="assets/images/consult3.png">
          <h2>получите результат</h2>
          <p>пройдите необходимые методы для большего понимания себя</p>
        </div>
      </div>
    </div>
  </div>
  <div class="consultants">
    <div class="text_cont">
      <h1>Профориентация</h1>
    </div>
    <div class="results">
      <app-consult-item *ngFor="let consultant of consultants"
      [consult]="consultant"></app-consult-item>
    </div>
  </div>

</div>
<app-footer></app-footer>
