<div class="spec_item">
  <!--надо добавить ngFor-->
  <img class="spec_img" [src]="specialty.photo">
  <div class="text">
    <div class="text1">
      <div class="name_subjects">
        <p class="p1">{{specialty.name}}</p>
        <div class="subjects">
          <p class="p4">🕮 {{ specialty.disciplines[0].name }}/{{specialty.disciplines[1].name}}</p>
        </div>
      </div>
      <div class="unt_points">
        <p class="p2">от {{ specialty.general }} проходной балл/общий<br>от {{ specialty.quota }} проходной балл/квота</p>
      </div>
    </div>
    <div class="text2">
      <div class="fields">
        <p class="p2">
          {{ specialty.eduPrograms }}<br>
          {{ specialty.unisNum }}<br>
          {{ specialty.grants }}<br>
          {{ specialty.demand }}
        </p>
      </div>
      <div class="fields">
        <p class="p3">
          программ обучения<br>
          ВУЗа в Казахстане<br>
          грантов в 2023 году<br>
          спрос
        </p>
      </div>

    </div>


    <div class="accordion">
      <button (click)="toggle()" class="accordion-btn">Описание специальности 🛈</button>
      <div *ngIf="isActive" class="accordion-content">
        <p>{{specialty.description}}</p>
      </div>

    </div>

  </div>
</div>
