.brand-name {
    background-color:#FFFFFF; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.tabs {
    margin-left: 100px; 
    padding-right: 50px;
}

a {
    margin-right: 50px; 
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 18px;
}

a:link {
    color: black; 
}
a:visited {
    color: black; 
}
a:active {
    color: #1B1AE1; 
}
a:hover {
    color: #1B1AE1; 
}

body {
        display: flex; 
        flex-direction: column;
        margin: 0; 
        background-color: #F3F3F3;
        height: 20px;
}

.name_logo {
    align-items: center;
}

.header-logo {
    margin-left: 30px;
}




